﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Project Music</h1>
    <p class="lead">This project contains info about music.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <img src="images/acdc.jpg" style="width:60%;margin-left:15%">
        
    </div>
    <div class="col-md-4">
        <img src="images/linkinpark1.jpg" style="width:60% ;margin-left:15%">

    </div>
    <div class="col-md-4">
        <img src="images/imagine.jpg" style="width:60% ;margin-left:15%">
        
    </div>
</div>