﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Music</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="background-image: url(../../images/BodyBG.jpg);background-size: cover  ">
    <div class="navbar navbar-inverse navbar-fixed-bottom" >
        <div class="container" >
            <div class="navbar-header"  >
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"  >
                    <span class="icon-bar" ></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Music", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse" >
                <ul class="nav navbar-nav"  style="margin-left:30%">

                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Albums", "Index", "Albums")</li>
                        <li>@Html.ActionLink("Songs", "Index", "Songs")</li>
                        <li>@Html.ActionLink("Artists", "Index", "Artists")</li>
                        <li>@Html.ActionLink("Styles", "Index", "Styles")</li>
                    }
                    else
                    {
                <li style="margin-left:35%;width:100%">@Html.ActionLink("Please Log in or Register!", "Login", "Account")</li>

                    }

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year Daniel Iliev<p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
