﻿@model IEnumerable<Music.Models.ViewModels.StyleViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Styles Index</h2>
<div class="panel-heading d-flex justify-content-start">
    @using (Html.BeginForm())
    {
        <p>@Html.TextBox("queryString", null, htmlAttributes: new { @class = "form-control", placeholder = "Search" })</p>
        <input type="submit" value="Filter" class="hidden" />
    }
</div>

@if (User.IsInRole("admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}


<table class="table" style="border:2px dotted black">
    <tr>
        <th>
            Title
        </th>
        @if (User.IsInRole("admin"))
        {
            <th>
                CreatedAt
            </th>
            <th>
                UpdatedAt
            </th>
            <th>
                Actions
            </th>
        }
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            @if (User.IsInRole("admin"))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedAt)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            }
        </tr>
    }
</table>

<div class="btn-group" role="group" aria-label="...">
    @if (ViewBag.Page > 0)
    {
        <a href="@Url.Action("Index", "Styles", new { page = ViewBag.Page - 1 })" style="float:left;text-decoration: none; display: inline-block; padding: 7px 9px;border:1px solid gray; border-radius:8px;
  color: black;">←</a>
    }
    @if (ViewBag.Page < ViewBag.Max && ViewBag.Max > 0)
    {
        <a href="@Url.Action("Index", "Styles", new { page = ViewBag.Page + 1 })" style="text-decoration: none; display: inline-block; padding: 7px 9px;border:1px solid gray; border-radius:8px;
  color: black;">→</a>
    }
</div>
